body {
    margin: 0;
}

nav {
   background-color: #24292E; 
   padding: 10px;
   margin-bottom: 10px;
}

#header {
    color: white;
    width: calc(80% - 10px);
    margin: auto auto;
}

#flex-container {
    margin: auto auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flex-container > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:ghostwhite;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#computer-info {
    margin: auto auto;
    display: flex;
    flex-direction: row;
    background-color:ghostwhite;
    border-radius: 8px;
    width: calc(80% - 20px);
    min-width: 700px;
    margin-top: 10px;
    justify-content: space-between;
}

#computer-info > article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
    width: 300px;
}
 

.space {
    display: flex;
    justify-content: space-between;
}
.space > h2 {
    padding: 10px
}

.space > button + button{
    margin-left: 10px;
}

.img {
    height: auto;
}

h1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

h2 {
    font-size: 20px;
}

#repay-loan {
    display: none;
}

#loan {
  display: none;
}

#select-box {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;  
}

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}